.container {
	padding: 24px;
	padding-bottom: 60px;
	background-color: #f5f5f5;
	background: #f5f5f5;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	padding: 16px;
}

.loadMore {
	display: flex;
	justify-content: center;
	margin: 24px 0;
}

.spinner {
	display: block;
	margin: 24px auto;
}
